<!-- Loop over each object in the blogs array -->
{{#each blogs as |blog| }}
      <div class="card w-100 my-2 rounded">
          <div class="row w-100 no-gutters text-light rounded-top px-2 align-middle" style="background-color: #421F64;">
            <h5 class="col-8 col-sm-6"><a class="text-light" href="/blog/{{blog.id}}">{{blog.name}}</a></h5>
            <h6 class="col-8 col-sm-6 text-right">Created by {{blog.user.name}} on {{format_date blog.date_created}}</h6>
          </div>
          <div class="card-body">
            <p class="card-text">{{blog.description}}</p>
          </div>
      </div>
{{/each}}
